@model int

<div class="container pt-4">
    <div class="col-12 text-center">
    <h1 class="text-success text-center">Phòng của bạn đã được xác nhận !</h1>
    Số hoá đơn của bạn là: @Model <br/>
    <p> Bạn có thể xem chi tiết hoá đơn của mình ở chỗ quản lý đơn hàng.</p>
    <img src="~/images/orderConfirmed.jpg" style="border-radius:20px" width="65%" />
</div>
<div class="col-12 text-center text-warning">
    <p class="pt-1">Cảm ơn bạn đã ủng hộ homestay và chúc bạn có một chuyến trải nghiệm dịch vụ thật tốt tại Đà Lạt !</p>
</div>
</div> 